body{
	background-image: url(img/shattered.png);
}

#wrap {
	width: 1000px;
	margin: auto;

}

#topo{
	margin: 15px 0 0 30px;
	width: auto;
	height: 100px;

}

#superMenu{
	width: 450px;
	float: right;
	margin: 30px 15px 0 0;
	height: 100px;
	font-size: 14px;
}

#margin-content{
	width: auto;
	height: 99%;
	margin-top: 20px;
	border-top: thin solid rgba(0,0,0, 0.3);
	
}

#content{
	width: auto;
	height: 99%;
	margin-top:15px;
}
